@namespace GChartsBlazorfied
<script>
    window.gcGeoChart = (chartData, chartOptions, elementId, dotNetObjectReference, usedatatable, apikey, materialTheme) => {

        if (apikey != null) {
            google.charts.load('current', { packages: ['geochart'], mapsApiKey: apikey });
        }
        else { 
            google.charts.load('current', { packages: ['geochart'] });
        }
        try {
            var n = 0 / 1;
        }
        catch (ex) {
            console.log("The api key is missing. The <GMapsInitialize /> tag may need to be added with the Api key and language.");
        }
        google.charts.setOnLoadCallback(() => {

            let data;
            if (usedatatable) {
                data = new google.visualization.DataTable(chartData)
            }
            else {
                data = google.visualization.arrayToDataTable(chartData);
            }

            let chart = new google.visualization.GeoChart(document.getElementById(elementId));

            // Adds the click event handler.
            if (dotNetObjectReference != null) {
                google.visualization.events.addListener(chart, 'select', function () {
                    var selection = chart.getSelection();
                    if (selection.length > 0) {
                        var row = selection[0].row;
                        var column = selection[0].column;
                        if (row != null && column != null) {
                            dotNetObjectReference.invokeMethodAsync('ClickEvent', row, column);
                        }
                    }
                });
            }

            // Clears the selection when using the Trigger = "both" option
            // This keeps the tooltip open while it can still be closed.
            google.visualization.events.addListener(chart, "onmouseover", function (event) {
                chart.setSelection(null);
            });

            chart.draw(data, chartOptions);
        });
    };
</script>
<div id="@id" style="@Style!"></div>